.calendar-section
  .calendar-widget.container
    margin: 0 auto
    @include tablet
      width: 50%
    @include widescreen
      width: 30%
  .m-input-moment
    width: 100%

  .tabs .icon:first-child
    margin: 0
  .tabs .icon:last-child
    margin: 0
  .m-input-moment .tab.is-active
    width: 100%
  .m-calendar.tab
    height: 100%

  .calendar-column
    display: flex
    justify-content: center

  .m-input-moment .tabs
    margin-top: 30px

  .m-input-moment .btn-save
    margin-top: 50px

  .m-calendar td.is-disabled
    cursor: not-allowed

  .m-time .sliders
    padding: 0 15px

  .button.repick-time
    margin-top: 25px

  .m-calendar .current-day
    color: white
    background: #28a1fc

  .text-button
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
