.form-section
  display: flex
  justify-content: center
  align-items: center
  .conversational-form
    .conversational-form-inner
      .user
        thumb
          background-image: url(/images/user.png) !important
      .robot
        thumb
          background-image: url(/images/faq-section/service_miyabi.png) !important
      @include mobile
        padding: 0 5%
      @include tablet
        padding: 0 10%
      @include desktop
        padding: 0 18%
      @include widescreen
        padding: 0 25%

  .conversational-form-inner cf-input textarea
    padding-left: 25px
    border-radius: 40px
    font-weight: bold
    height: 52px

  .conversational-form cf-chat-response text
    font-weight: 900
    color: #222
    min-height: 42px
    font-size: 13px

  .conversational-form cf-input textarea
    font-size: 16px

  .conversational-form cf-input-button
      background: #e6f3fe
      border: none

  cf-chat-response thumb
    width: 32px
    height: 32px

section.section.form-section
  padding-top: 0px
  padding-bottom: 0px
  @include mobile
    padding-left: 0px
    padding-right: 0px
