.product-list
  display: flex
  flex-flow: row wrap
  justify-content: space-around

.card
  margin: 5px
  @include widescreen
    width: 24%
  @include desktop
    width: 32%
  @include tablet-only
    width: 48%
  @include mobile
    width: 100%

nav.pagination
  margin: 5px

// .field.has-addons
//   margin: 5px
//
// .filter
//   @include tablet
//     flex-basis: 23%
//     margin-right: 20px
//
// .products
//   @include tablet
//     flex-basis: 74%
